#header {
  display: flex;
  justify-content: space-between;
}

#imagelogo {
  height: 50px;
}
body {
  background-color: #f4f2e5;
  padding: 20px;
}
#left {
  width: 75%;
}
#lower,
#main,
#footer {
  display: flex;
}
.detail {
  width: 40%;
  margin-left: 50px;
}
input,
select {
  margin-bottom: 20px;
  width: 250px;
  height: 25px;
  background-color: #f9f8f1;
  border: 2px solid #f4f2e5;
}
#upper {
  margin-bottom: 25px;
}
#right {
  width: 20%;
  padding: 30px;
}
#btn {
  background-color: #e5cc76;
  padding: 5px 15px;
  border-radius: 7px;
  height: 40px;
  /* margin-left: 100px; */
}
.fas {
  color: brown;
  font-size: 15px;
}

h3 {
  font-family: "Unna", serif;
}


#myform {
  display: flex;
}
#btn {
  margin-top: 70px;
}



footer{
    height: 405px;
    padding: 30px 0;
    background-color: #dbd9cd;
    width: 100%;
}
.footer-content{
display: flex;
justify-content: space-around;
margin-bottom: 30px;
​}

.footer-content div ul{
    list-style: none;
    padding:0px
}
.footer-content div p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Unna',serif;margin: 10px 0px;
}
.footer-content div ul li{
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
​
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
​
}
.appstore-icon{
    width: 122px;
    height: 36px;
    margin-bottom: 7px;
}
.social-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin: 5px;
}
.social-icon > img{
    width: 25px;
    height: 25px;
}
section{
    background-color: #f4f2e5;
    padding: 40px 50px;
}
#right>div{
  display: flex;
  justify-content: space-around;
}